---
# =========================================
# Handlers para el role laravel-api
# =========================================

- name: restart application
  community.docker.docker_compose_v2:
    project_src: "{{ app_directory }}/infraestructura/docker"
    state: restarted
  listen: "restart application"
  tags: ['handlers']

- name: rebuild application
  community.docker.docker_compose_v2:
    project_src: "{{ app_directory }}/infraestructura/docker"
    build: always
    state: present
  listen: "rebuild application"
  tags: ['handlers']

- name: clear cache
  community.docker.docker_container_exec:
    container: "{{ app_name }}"
    command: /bin/sh -c "php artisan config:clear && php artisan route:clear && php artisan view:clear && php artisan cache:clear"
  listen: "clear cache"
  tags: ['handlers']
